.HeaderContainer{
    margin-top: 10%;
    margin-left: 12%;
    text-align: center;
    width: 70%;
    margin-bottom: 20%;
}

.HeaderContainer span{
   font-size: 26px;
   background-color: #FFDC7B;

}

.HeaderContainer h2 {
  opacity: 0.5;
}


/* Type effect */

.projects_title{
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    font-weight: 600;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

.row{
  display: flex;
}
.project_container{
  max-width: 90%;
  margin:0 auto;
  margin-left: 9%;
}

.cards{
  flex-wrap: wrap;
  gap:2em;
  padding: 2em 0;
}

.cardL{
  align-items: flex-end;
  justify-content: center;
  position: relative; 
  max-width: 150px;
  min-height:500px;
  text-align: center;
  overflow:hidden;
  cursor: pointer;
  background-image: url("../Images/Language.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px; 
  -ms-border-radius:25px;
  -o-border-radius:25px;
  transition: max-width 0.5s ease-in-out;
  -webkit-transition: max-width 0.5s ease-in-out;
  -moz-transition: max-width 0.5s ease-in-out;
  -ms-transition: max-width 0.5s ease-in-out;
  -o-transition: max-width 0.5s ease-in-out;
}

.cardL:nth-of-type(2){
  background-image: url("../Images/Sports.jpg");
}
.cardL:nth-of-type(3){
    background-image: url("../Images/Travel.jpg");
  }
  .cardL:nth-of-type(4){
    background-image: url("../Images/Finance.jpg");
  }
  .cardL:nth-of-type(5){
    background-image: url("../Images/Medical.jpg");
  }
  .cardL:nth-of-type(6){
    background-image: url("../Images/Games.jpg");
  }
  .cardL:nth-of-type(7){
    background-image: url("../Images/Chat.jpg");
  }
.cardL:hover{
  max-width: 500px;
}

.card-body{
  background: linear-gradient(180deg, rgba(45,45,45,0) 0%, #2d2d2d 100%);
padding:4em;

}
.title{
  background: linear-gradient(180deg, rgba(45,45,45,0) 0%, #2d2d2d 100%);
position:absolute;
inset:0;
}

.cardL:hover .title{
  all:unset;
}

.project_title{
  font-size:clamp(38px,5vw, 48px);
  color: #fffbfb;
  text-transform: uppercase;
  white-space: nowrap;
  margin:0;
  transform: rotate(-90deg) translateX(-350px);
-webkit-transform: rotate(-90deg) translateX(-350px);
-moz-transform: rotate(-90deg) translateX(-350px);
-ms-transform: rotate(-90deg) translateX(-350px);
-o-transform: rotate(-90deg) translateX(-350px);

}

.cardL:hover .project_title{
padding-bottom: 0.5em;
transform:unset;
-webkit-transform: unset;
-moz-transform: unset;
-ms-transform: unset;
-o-transform: unset;

}


